.pokemon {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 3rem auto 3rem auto;
}

.pokemon .name {
  margin: 0;
}

.moves {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 5rem;
}

@media (max-width: 800px) {
  .moves {
    grid-template-columns: repeat(3, 1fr);
  }
}

.stats {
  max-width: 60%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .stats {
    max-width: 100%;
  }
}

.header {
  text-align: center;
}
